@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

title {
	font-family: bold;
}

body {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	color: white;
}

h2 {
	font-size: 1.8rem;
	font-weight: 600;
}

h3 {
	font-size: 1.4rem;
	font-weight: 800;
}

h4 {
	font-size: 1.1rem;
	font-weight: 600;
}

h5 {
	font-size:1rem;
	font-weight: 400;
}

h6 {
	color: black;
}

button {
	font-size:0.8rem;
	font-weight:700;
	outline: none;
	border: none;
	background-color:black;
	color: aliceblue;
	padding: 13px 30px;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.3s ease;
}

button:hover{
	background-color:coral;
	
}

hr {
	width: 30px;
	height:2px;
	background-color: coral;
}

p {
	font-size: 1rem;
}

.navbar {
	font-size: 16px;
	top: 0;
	left: 0;
}

.navbar-light .navbar-nav .nav-link{
	padding: 0 20px;
	color: black;
	transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i.active {
	color: coral;
}

.navbar i {
	font-size:1.2rem;
	padding: 0 7px;
	cursor: pointer;
	font-weight: 500;
	transition: 0.3s ease;
}

.navbar-brand {
	font-size: 60px;
}

#home {
	background-color: lightgray;
	background-image: url("https://tse2.mm.bing.net/th?id=OIP.--_ZbwVHojUbqyujgPQHfwHaD0&pid=Api&P=0&w=313&h=162");
	background-repeat: no-repeat;
	background-size: fixed;
	background-position: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#home span{
	color: coral;
}

#new .one img{
	width: 90%;
	height: 80%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#new .one .details{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.3s ease;
}

#new .one:hover .details{
	cursor:pointer;
	background-color: rgba(245, 178, 178, 0.7);
}

#new .one .details button{
	display: inline-block;
	font-size: 14px;
	font-weight:500;
	color: black;
	background: none;
	text-transform: uppercase;
	border-bottom:1px solid black;
	padding: 2.5px;
	transform: translateY(70px);
	transition: 0.3s ease;
}

#new .one .details button:hover{
	color: white;
	border-bottom: 1px solid white;
}

#new .one:nth-child(1) .details {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	text-align: start;
}

#new .one:nth-child(2) .details {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#new .one:nth-child(3) .details {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
	text-align: end;
}

.product{
	cursor: pointer;
	margin-bottom: 2rem;
}

.product img{
	transition: 0.3s all;
	width: 70%;
	height: 70%;
}

.product: hover img{
	opacity: 0.7;
}
.product .buy-btn{
	background: coral;
	transform: translateY(20px);
	opacity: 0;
	transition: 0.3s all;
}

.product: hover .buy-btn{
	transform: translateY(0);
	opacity: 1;
}

#banner {
	background-color: gray;
	background-image: url("https://tse4.mm.bing.net/th?id=OIP.4eJoxgEcx3s6gw0y1a4bkQHaEo&pid=Api&P=0&w=279&h=175");
	background-repeat: no-repeat;
	background-size: fixed;
	background-position: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#banner h4{
	color: white;
}

#banner h1 {
	color: white;
}

#banner button{
	background-color: coral;
}

footer{
	background-color: lightgray;
}

footer h5{
	font-weight: 200;
	font-size: 1.2rem;
	font-color: white;
}

footer h1{
	font-color: white;
}